<section>
  <div class="container">
    <h1 style="color: #595959">{{name}}</h1>
    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Folio</th>
        <th>Buyer</th>
        <th>total</th>
        <th>Details</th>
        <th>Export to</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="document in documents">
        <th>{{document.documento_id}}</th>
        <td>{{document.fecha}}</td>
        <td>{{document.folio}}</td>
        <td>{{document.nombre_comprador}}</td>
        <td>{{document.total}}</td>
        <td><a href="history/{{document.documento_id}}">Show</a></td>
        <td><a href="history/{{document.documento_id}}/pdf">PDF</a></td>
      </tr>
    </tbody>
    </table>
  </div>
</section>
