<section>
  <div class="home-container container">
    <div class="row align-items-center">
      <div class="home-options add col-md-4"> <!-- Add document button. -->
        <h1><a href="options/add"><i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i></a></h1>
        <h1>Add</h1>
      </div>

      <div class="home-options edit col-md-4"> <!-- Edit document button. -->
        <h1><a href="#"><i class="fa fa-cog fa-5x" aria-hidden="true"></i></a></h1>
        <h1>Edit</h1>
      </div>

      <div class="home-options delete col-md-4"> <!-- Delete document button. -->
        <h1><a href="#"><i class="fa fa-trash fa-5x" aria-hidden="true"></i></a></h1>
        <h1>Delete</h1>
      </div>
    </div>
  </div>
</section>
